*.iml
.classpath
.project
.idea
output
out
.iml
lib
target
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.settings
.json
json
*.json

*.state
